body{
      font-family: 'Raleway', sans-serif;
     float: center;
     
  }
  #primero{
     display: inline-block;
     position: relative;
     background-color: yellow;
     padding: 5px 5px 30px 5px;
     margin: 10px;
     width: 150px;
     margin-left: auto;
     margin-right: auto;
     margin-left: 400px;
     margin-right: 10px;
  }
  #segundo{
     display: inline-block;
     position: relative;
     background-color: red;
     padding: 5px 5px 30px 5px;
     margin: 10px;
     width: 150px;
     margin-left: auto;
     margin-right: auto;
     margin-left: 10px;
     margin-right: 10px;
  }
  #tercero{
     display: inline-block;
     position: relative;
     background-color: yellow;
     padding: 5px 5px 30px 5px;
     margin: 10px;
     width: 150px;
     margin-left: auto;
     width-right: auto;
    margin-left: 10px;
    margin-right: 10px;
  }