body{
      font-family: 'Raleway', sans-serif;
     float: center;
     
  }
  #primero{
     position: relative;
      background-color: yellow; 
     padding-bottom: 30px;
     padding: 5px 5px 30px 5px;
     margin: 10px;
     width: 150px;
     margin-left: auto;
     margin-right: auto;
  }
  #segundo{
     position: relative;
      background-color: red;
     padding-bottom: 30px;
     border: 1px solid #000000;
     padding: 5px 5px 30px 5px;
     margin: 10px;
     width: 150px;
     margin-left: auto;
     margin-right: auto;
  }
  #tercero{
     position: relative;
      background-color: yellow;
     padding-bottom: 30px;
     padding: 5px 5px 30px 5px;
     margin: 10px;
     width: 150px;
    margin-left: auto;
    margin-right: auto;
  }